.dillyui-button {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1.563rem;
  text-align: center;
  font-size: 2rem;
  transition-property: all;
  border: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.dillyui-button.primary {
  background-color: #22333C;
  border-color: #22333C;
  color: #F7F7F7;
}

.dillyui-button.secondary {
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  color: #22333C;
}

.dillyui-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  filter: brightness(1.25);
}

.dillyui-button:disabled {
  background-color: #737373;
  border-color: #737373;
  color: #e5e5e5;
  cursor: not-allowed;
}