@import '../../styles/global.css';

.dillyui-button {
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1.563rem;
  text-align: center;
  font-size: 2rem;
  transition-property: all;
  border: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.dillyui-button.blue {
  background-color: var(--blue500);
  border-color: var(--blue500);
  color: var(--white);
}

.dillyui-button.red {
  background-color: var(--red500);
  border-color: var(--red500);
  color: var(--white);
}

.dillyui-button.gray {
  background-color: var(--gray500);
  border-color: var(--gray500);
  color: var(--white);
}

.dillyui-button:hover:not([disabled]) {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dillyui-button:disabled {
  background-color: #737373;
  border-color: #737373;
  color: #e5e5e5;
  cursor: not-allowed;
}
